*{
  margin: 0;
  padding: 0;
}

.grad{
    height: 100vh;
    background: linear-gradient(#FFFFFF,#76Aff1);
}

.navbar-custom{
  background-color: #C4C4C4;
}


.yellow_box {
width: 600px;
height: 300px;
background: linear-gradient(#FCEE6F, #FFFFFF);
border-radius: 25px;
/*below code centers the yellow box in the middle of the page*/
}

.text{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

.text{
    font-weight: 10;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight: 10;
    width: 100%;
}